<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Suite" thread-count="2" parallel="methods">

    <listeners>
        <listener class-name="com.codeborne.selenide.testng.TextReport"/>
    </listeners>
    <test name="testTask">
        <classes>
            <class name="LoginTest"/>
            <class name="RegistrationTest"/>
        </classes>
    </test>

</suite>